<div class="header">
  <div class="left">
    <a class="button-link" href="https://hub.jazz.net">
      <img class="bluemix-logo" src="https://hub.jazz.net/api/v1/composition/graphics/header/bluemix-logo.png" />
      <span class="devopsservices-text">IBM <span class="bluemix-text">Bluemix</span> DevOps Services</span>
    </a>
  </div>
  <div class="right">
    <span class="app-title">{{title}}</span>
  </div>
</div>
<div class="content">

  <h3>Available APIs:</h3>
  <br />
  <p><a href="/hello?name=joe">/hello?name=joe</a> <span class="description"><strong>GET</strong> request to /hello with a query string parameter of 'name=joe'</span></p>
  <p><a href="/applications">/applications</a> <span class="description"><strong>GET</strong> request to /applications to get all the applications</span></p>
  <p><a href="/applications/1234">/applications/1234</a> <span class="description"><strong>GET</strong> request to /applications/ with a path parameter of '1234' to get a specific application</span></p>
  <br />
  <br />
  <p><a href="/docs">Browse the Swagger UI</a></p>
</div>
