<div class="header">
  <div class="left">
    <a class="button-link" href="https://hub.jazz.net">
      <img class="bluemix-logo" src="https://hub.jazz.net/api/v1/composition/graphics/header/bluemix-logo.png" />
      <span class="devopsservices-text">IBM <span class="bluemix-text">Bluemix</span> DevOps Services</span>
    </a>
  </div>
  <div class="right">
    <span class="app-title">{{title}}</span>
  </div>
</div>
<div class="content">
  <p>Available APIs:</p>
  <p>/applications</p>
  <p>/applications/{appId}</p>
  <p>/hello?name={name}</p>

  <p>
    <a href="/docs">Go to swagger UI</a>
  </p>
</div>
