/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
  min-height: 100%;
  background-color: #3B4B54;
  color: #FFFFFF;
  overflow: hidden;
}

body a {
  color: #18a7db;
}

.header {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #26343f;
  height: 50px;
  line-height: 50px;
  font-weight: 300;
  font-size: 9pt;
  z-index: 150;
  min-width: 980px;
  border-bottom: 1px solid #34534b;
}

.header .left {
  float: left;
}

.header .right {
  float: right;
}

.header .button-link {
  position: relative;
  text-decoration: none;
  color: #94a3ab;
  margin: 0 10px 0 10px;
  height: 50px;
  /*stroke: #94a3ab;*/
  /*fill: #94a3ab;*/
}

.header .button-link .bluemix-logo {
  vertical-align: top;
  margin-top: 8px;
  width: 32px;
  height: 32px;
}

.header .button-link .devopsservices-text {
  font-weight: 300;
  margin: 0 0 0 15px;
  font-size: 14px;
  color: #FFFFFF;
}

.header .button-link .devopsservices-text .bluemix-text {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}

.header .app-title {
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 15px;
}

.content {
  min-height: 100%;
  height: 100%;
  margin: 20px;
  font-weight: normal;
  font-size: 14px;
  background-color: #3B4B54;
}

.content p .description {
  font-size: 11px;
  font-weight: lighter;
  color: #88f933;
}
